@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

header {
	text-align: center;
	font-style: bold;
	font-size: 48px;
	font-family: 'Arial';
	color: rgba(100, 50, 255, .8);
	-webkit-animation: rainbow 1s infinite; 
	padding-top: 50px;
}


body {
	background: url("../images/tetris.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#container {
	margin: 68px;
	margin-top: 50px;
	background: #1496BB;
	height: 450px;
	border: 8px solid;
  	border-image: url("http://s12.postimg.org/kebji5qfd/border.png") 1 stretch repeat;
}

#timerDisplay {
  font-family: monospace;
  font-size: 48px;
  width: 45%;
  margin-left: 380px;
  border-radius: 25px;
  color: green;
  text-align: center;
  background: black;
}

button {
	width: 80%;
	height: 40px;
	margin: 10px 10%;
	float: left;
}

button.choice {
	display: none;
}

button:hover {
	background-color: blue;
	color: white;
}

.answers div {
	margin: 0 auto;
}

#question {
	text-align: center;
	height: 80px;
	padding-top: 50px;
}

h1 {
	text-align: center;
	font-family: 'Georgia';
	font-size: 38px;
	font-style: bold;
}

h2 {
	text-align: center;
}

h3 {
	font-family: 'Georgia';
	font-size: 24px;
	font-style: italic;
}